#inicio {
    color: #A8E910;
}

body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainTitle {
    color: white;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px !important;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

#footerColor {
    background: #458CC6;
    color: #fff;
}

#index{
    color: #A8E910;
}

#cards{
    background: #064168!important;
    color: #fff;
    border-color: #458CC6;
    border-radius: 25px;
    border: 5px solid  #458CC6;
}

#lista{
    background: #064168;
    color: #fff;
    border: #458CC6;
   
    }